.iconep{
   height: 18px;
    width: auto;
}
.after-preturn{
    color: #8e90a7;
    font-size: 16px;
    font-weight: 400;
}
.p-logo{
    height: 25px;
    width: auto;
}
.name_paye{
    font-size: 12px;
    color: #3d3f56;
    font-weight: 400;
}